go.mod
LICENSE
Makefile
README.md
theme.toml
.github/stale.yml
.github/ISSUE_TEMPLATE/bug_report.md
.github/ISSUE_TEMPLATE/config.yml
.github/ISSUE_TEMPLATE/new-blank-issue.md
.github/workflows/gh-pages.yml
.vscode/settings.json
assets/css/common/404.css
assets/css/common/archive.css
assets/css/common/blogroll.css
assets/css/common/footer.css
assets/css/common/header.css
assets/css/common/highlight.scss
assets/css/common/main.css
assets/css/common/post-entry.css
assets/css/common/post-single.css
assets/css/common/profile-mode.css
assets/css/common/search.css
assets/css/common/terms.css
assets/css/core/reset.css
assets/css/core/theme-vars.css
assets/css/core/zmedia.css
assets/css/extended/blank.css
assets/css/extended/essays.scss
assets/css/extended/newsletter.scss
assets/css/lib/chroma-dark.css
assets/css/lib/chroma-light.css
assets/js/fastsearch.js
assets/js/fuse.basic.min.js
assets/js/instantclick.js
assets/js/instantclick.min.js
assets/js/medium-zoom.min.js
data/svg.toml
exampleSite/.gitignore
exampleSite/config.default.yml
exampleSite/config.profileMode.yml
exampleSite/config.yml
exampleSite/configTaxo.yml
exampleSite/README.md
exampleSite/assets/images/regular.jpg
exampleSite/content/archives.md
exampleSite/content/archives.zh.md
exampleSite/content/search.md
exampleSite/content/search.zh.md
exampleSite/content/docs/_index.md
exampleSite/content/docs/_index.zh.md
exampleSite/content/docs/archives.md
exampleSite/content/docs/emoji-support.md
exampleSite/content/docs/faq.md
exampleSite/content/docs/icons_preview.md
exampleSite/content/docs/icons.md
exampleSite/content/docs/installation.md
exampleSite/content/docs/math-typesetting.md
exampleSite/content/docs/papermodx-new-features.md
exampleSite/content/docs/papermodx-new-features.zh.md
exampleSite/content/docs/variables.md
exampleSite/content/docs/features/index.md
exampleSite/content/docs/features/images/homeinfo.jpg
exampleSite/content/docs/features/images/profile.jpg
exampleSite/content/docs/features/images/regular.jpg
exampleSite/content/newsletter/_index.md
exampleSite/content/newsletter/archives.md
exampleSite/content/newsletter/001-hello-world/index.md
exampleSite/content/posts/_index.md
exampleSite/content/posts/_index.zh.md
exampleSite/content/posts/markdown-syntax.md
exampleSite/content/posts/markdown-syntax.zh.md
exampleSite/content/posts/placeholder-text.md
exampleSite/content/posts/rich-content.md
exampleSite/layouts/_default/icons.html
exampleSite/layouts/partials/custom_analytics.html
exampleSite/layouts/partials/extend_head.html
exampleSite/static/cover.png
i18n/ar.yaml
i18n/bg.yaml
i18n/bn.yaml
i18n/ca.yaml
i18n/ckb.yaml
i18n/da.yaml
i18n/de.yaml
i18n/en.yaml
i18n/eo.yaml
i18n/es.yaml
i18n/fa.yaml
i18n/fr.yaml
i18n/he.yaml
i18n/hi.yaml
i18n/hu.yaml
i18n/id.yaml
i18n/it.yaml
i18n/ja.yaml
i18n/ko.yaml
i18n/ku.yaml
i18n/mn.yaml
i18n/nl.yaml
i18n/pl.yaml
i18n/pt.yaml
i18n/ru.yaml
i18n/sv.yaml
i18n/tr.yaml
i18n/uk.yaml
i18n/uz.yaml
i18n/vi.yaml
i18n/zh-tw.yaml
i18n/zh.yaml
images/screenshot.png
images/tn.png
layouts/404.html
layouts/robots.txt
layouts/_default/archives.html
layouts/_default/baseof.html
layouts/_default/index.json
layouts/_default/list.html
layouts/_default/rss.xml
layouts/_default/search.html
layouts/_default/single.html
layouts/_default/sitemap.xml
layouts/_default/terms.html
layouts/_default/_markup/render-image.html
layouts/blogroll/section.html
layouts/essays/section.html
layouts/newsletter/archives.html
layouts/newsletter/section.html
layouts/partials/anchored_headings.html
layouts/partials/author.html
layouts/partials/breadcrumbs.html
layouts/partials/comments.html
layouts/partials/cover.html
layouts/partials/disqus.html
layouts/partials/edit_post.html
layouts/partials/extend_footer.html
layouts/partials/extend_head.html
layouts/partials/footer.html
layouts/partials/head.html
layouts/partials/header.html
layouts/partials/home_info.html
layouts/partials/index_profile.html
layouts/partials/inline_links.html
layouts/partials/newsletter_brand.html
layouts/partials/newsletter_sub_form.html
layouts/partials/page_footer.html
layouts/partials/post_canonical.html
layouts/partials/post_meta.html
layouts/partials/post_nav_links.html
layouts/partials/remark42.html
layouts/partials/share_icons.html
layouts/partials/social_icons.html
layouts/partials/social_links.html
layouts/partials/social_quote_tweet.html
layouts/partials/static_comments.html
layouts/partials/telegram_widget.html
layouts/partials/toc.html
layouts/partials/translation_list.html
layouts/partials/templates/opengraph.html
layouts/partials/templates/schema_json.html
layouts/shortcodes/blockquote.html
layouts/shortcodes/collapse.html
layouts/shortcodes/figure-img-size.html
layouts/shortcodes/figure-img.html
layouts/shortcodes/figure.html
layouts/shortcodes/image-size-control.html
layouts/shortcodes/link.html
layouts/shortcodes/ltr.html
layouts/shortcodes/rawhtml.html
layouts/shortcodes/rtl.html
layouts/shortcodes/social-quote-tweet.html
layouts/shortcodes/standout.html
layouts/shortcodes/tweet-ref.html
layouts/shortcodes/video.html
